.pageContainer {
  width: 100%;
  position: relative;
}

.pageScroller {
  display: flex;
  gap: 1rem;
  height: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.pageScroller::-webkit-scrollbar {
  display: none;
}

.pageElement {
  flex: 0 0 100%;
  scroll-snap-align: start;
}
