*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-inter), "system-ui", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --text-size-xs: 14px;
  --text-size-sm: 18px;
  --text-size-md: 22px;
  --text-size-lg: 28px;
  --text-size-xl: 34px;
  --text-size-xxl: 40px;
  --icon-size-sm: 1.55rem;
  --icon-size-md: 1.85rem;
  --icon-size-lg: 2.1rem;
  --icon-size-xl: 2.35rem;

  /* COLORS */
  --clr-bg-light: rgb(251, 251, 251);
  --clr-bg-dark: rgba(20, 20, 31, 1);
  --clr-text-dark: rgba(10, 10, 10, 1);
  --clr-text-dark-soft: rgba(10, 10, 10, 0.7);
  --clr-text-light: rgba(207, 215, 226, 1);
  --clr-primary-dark: hsl(210, 100%, 50%);
  --clr-primary-light: rgba(71, 235, 235, 1);
  --clr-link-dark: rgb(19, 92, 140);
  --clr-link-light: rgb(58, 161, 230);
  --clr-grey: rgb(44, 44, 44);
  --clr-light-grey: rgb(119, 119, 119);
  --clr-box-dark: rgba(29, 30, 48, 1);
  --clr-box-light: rgba(244, 248, 251, 1);
}

/* THEMES */

.dark-theme,
.light-theme {
  overflow-x: clip;
  min-height: 100vh;
  color: var(--text-color);
}

.dark-theme {
  --background-color: var(--clr-bg-dark);
  --text-color: var(--clr-text-light);
  --clr-primary: var(--clr-primary-light);
  --box-color: var(--clr-box-dark);
  --clr-link: var(--clr-link-light);
  background-color: var(--background-color);
}

.light-theme {
  --background-color: var(--clr-bg-light);
  --text-color: var(--clr-text-dark);
  --clr-primary: var(--clr-primary-dark);
  --box-color: var(--clr-box-light);
  --clr-link: var(--clr-link-dark);
  background-color: var(--background-color);
}

body {
  font-size: var(--text-size-sm);
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
form {
  max-width: 65ch;
}

p {
  text-wrap: pretty;
}

button {
  border: none;
  outline: none;
  background: none;
}

button:disabled {
  pointer-events: none;
  transform: none;
}

a,
button.link {
  color: var(--clr-link);
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-style: none;
  background: none;
  cursor: pointer;
}

a:hover,
button.link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.custom-image-link {
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform ease-in-out 250ms;
}

.custom-image-link:hover {
  transform: scale(1.2);
}

.custom-image-link.disabled,
.custom-image-link.disabled:hover {
  pointer-events: none;
  transform: none;
}

@media screen and (min-width: 768px) {
  body {
    font-size: var(--text-size-md);
  }
}

/* TYPOGRAPHY */
.page-title {
  color: var(--clr-primary);
  margin-bottom: 1rem;
  font-size: 50px;
}

.bold {
  font-weight: 600;
}

/* LAYOUT */

.main__layout {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: 250ms forwards fade-in;
  z-index: 9999;
}

.overlay.closing {
  animation: fade-in 250ms forwards reverse;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.underlined {
  border-bottom: 1px solid #333;
}

.gap-small {
  gap: 0.2rem;
}

.gap-medium {
  gap: 0.5rem;
}

.gap-large {
  gap: 1rem;
}

.margin-btm-small {
  margin-bottom: 0.3rem;
}

.margin-btm-large {
  margin-bottom: 1rem;
}

/* ANIMATIONS */

@keyframes fade-in {
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
