*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "system-ui", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --text-size-xs: 14px;
  --text-size-sm: 18px;
  --text-size-md: 22px;
  --text-size-lg: 28px;
  --text-size-xl: 34px;
  --text-size-xxl: 40px;
  --icon-size-sm: 1.55rem;
  --icon-size-md: 1.85rem;
  --icon-size-lg: 2.1rem;
  --icon-size-xl: 2.35rem;

  /* COLORS */
  --background-white: rgb(251, 251, 251);
  --background-black: rgb(5, 5, 5);
  --background-black-light: #0f0f0f;
  --text-primary: #0a0a0a;
  --text-primary-light: #0a0a0abe;
  --text-secondary: #fafafa;
  --brand-color-primary: #962bfa;
  --brand-color-secondary: #2e4aff;
  --brand-color-secondary-light: #8695f8;
  --brand-color-tertiary: #fa2ab9;
  --link-color: #0072dd;
  --clr-grey: #2c2c2c;
}

body {
  background-color: var(--background-white);
  font-size: var(--text-size-sm);
  color: var(--text-primary);
  overflow-x: hidden;
  height: 100vh;
}

p {
  text-wrap: pretty;
}

button {
  border: none;
  outline: none;
  background: none;
}

button:disabled {
  pointer-events: none;
  transform: none;
}

a,
button.link {
  width: min-content;
  color: var(--link-color);
  text-decoration: none;
  border: none;
  border-style: none;
  background: none;
  cursor: pointer;
}

a:hover,
button.link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.custom-image-link {
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform ease-in-out 250ms;
}

.custom-image-link:hover {
  transform: scale(1.2);
}

.custom-image-link.disabled,
.custom-image-link.disabled:hover {
  pointer-events: none;
  transform: none;
}

@media screen and (min-width: 768px) {
  body {
    font-size: var(--text-size-md);
  }
}

/* TYPOGRAPHY */

.paragraph-primary {
  font-size: var(--text-size-sm);
  color: var(--text-primary);
}

.paragraph-secondary {
  color: var(--text-primary-light);
}

.textXs {
  font-size: var(--text-size-xs);
}

.textSm {
  font-size: var(--text-size-sm);
}

.textMd {
  font-size: var(--text-size-md);
}

.textL {
  font-size: var(--text-size-lg);
}

.textXl {
  font-size: var(--text-size-xl);
}

.font-weight-normal {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.no-list-styles {
  list-style-type: none;
}

/* LAYOUT */

.main__layout {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: 250ms forwards fade-in;
  z-index: 9999;
}

.overlay.closing {
  animation: fade-in 250ms forwards reverse;
}

.width-full {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.underlined {
  border-bottom: 1px solid #333;
}

.gap-small {
  gap: 0.2rem;
}

.gap-medium {
  gap: 0.5rem;
}

.gap-large {
  gap: 1rem;
}

.margin-btm-small {
  margin-bottom: 0.3rem;
}

.margin-btm-large {
  margin-bottom: 1rem;
}

/* ACTION */
.pointer {
  cursor: pointer;
}

/* THEMES */

.dark-theme {
  --background-color: var(--background-black);
  --text-color: var(--text-secondary);
  background: var(--background-color);
  color: var(--text-color);
  overflow-x: clip;
  min-height: 100vh;
}

.light-theme {
  --background-color: var(--background-white);
  --text-color: var(--text-primary);
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: clip;
  height: 100%;
}

/* ANIMATIONS */

@keyframes fade-in {
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
