.button {
  width: fit-content;
  padding: 0.3rem 0.6rem;
  color: var(--text-primary);
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button.button:not(.transparent):disabled {
  background: #5e5e5e;
  border: 1px solid #5e5e5e;
}

.button.primary {
  background: #c6e3ff;
  border-radius: 4px;
  border: 1px solid #5aacf9;
}

.button.primary:hover, .button.primary:focus {
  background: #7dbefc;
  box-shadow: 0 0 0 3px rgba(200, 200, 200, 0.7);
}

.button.primary:active {
  background: #5aacf9;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.button.secondary {
  background: #f0f0f0;
  border-radius: 4px;
  border: 1px solid #cccccc;
}

.button.secondary:hover, .button.secondary:focus {
  background: #e0e0e0;
  box-shadow: 0 0 0 3px rgba(200, 200, 200, 0.7);
}

.button.secondary:active {
  background: #cccccc;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.button.transparent {
  border: none;
  outline: none;
}

.button.warning {
  border-color: hsl(0, 100%, 70%);
  border-radius: 4px;
  background: hsl(0, 100%, 70%);
}

.button.warning:hover, .button.secondary:focus {
  background: hsl(0, 100%, 65%);
  box-shadow: 0 0 0 3px hsl(0, 100%, 65%, 0.7);
}

.button.warning:active {
  background: hsl(0, 100%, 65%);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

