.carouselContainer {
  margin-top: 5rem;
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.65);
}

.carouselScroller {
  --itemsOnScreen: 4;
  --image-width: calc(100% / var(--itemsOnScreen) - 3%);
  --scrollerIndex: 0;
  --itemGap: 0.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--image-width);
  gap: var(--itemGap);
  padding-block: 0.5rem;
  transform: translateX(
    calc(
      (var(--scrollerIndex) * var(--image-width) + var(--scrollerIndex) * var(--itemGap)) * -1 + 50% -
        var(--image-width) / 2
    )
  );
  transition: transform 250ms ease-in;
}

.scrollerImg {
  width: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
  overflow: hidden;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
  aspect-ratio: 1/1;
}

.scrollerImg:not(scrollerImg.activeImage):hover {
  z-index: 1;
}

.scrollerImg.blurred {
  filter: blur(5px);
}

.scrollerImg:hover {
  filter: blur(0px);
  border: 3px solid rgb(0, 154, 146);
}

.scrollerImg.activeImage {
  border: 3px solid rgb(0, 232, 220);
  filter: blur(0px);
  transform: scale(1.5);
}

.prevBtn,
.nextBtn {
  z-index: 1;
  position: absolute;
  display: flex;
  height: -webkit-fill-available;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  justify-content: center;
  align-items: center;
  padding-inline: 0.25rem;
  cursor: pointer;
  top: 0;
  transition: background-color 100ms ease-in-out;
}

.prevBtn {
  left: 0;
}

.nextBtn {
  right: 0;
}

.prevBtn:hover,
.prevBtn:focus,
.nextBtn:hover,
.nextBtn:focus {
  background-color: rgba(255, 255, 255, 0.7);
}

.prevBtn svg,
.nextBtn svg {
  font-size: var(--icon-size-sm);
  transition: all 100ms ease-in-out;
}

.prevBtn:hover svg,
.prevBtn:focus svg,
.nextBtn:hover svg,
.nextBtn:focus svg {
  transform: scale(1.2);
}

.activeData {
  width: 60%;
  margin: 3rem auto;
}

.activeData h3 {
  font-size: var(--title-size-lg);
}

.activeData span {
  font-size: var(--title-size-sm);
}
