.pageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  padding: 0.2rem 0.5rem;
  background: linear-gradient(to right, var(--background-color) 0%, var(--_bgColor) 40%, var(--_bgColor) 60%, var(--background-color) 100%);
}

.pageTitle > h2 {
  color: var(--text-primary);
  font-size: var(--title-size-md);
}

