.headerContainer {
  --_animationStartAfter: 250px;
  --_animationDistance: 200px;
  --_settingsMargin: 2rem;
  margin: 0 auto;
  display: flex;
  padding: 0.5rem 0.7rem;
  align-items: center;
  background-color: #ffffff;
  color: inherit;
  font-weight: 500;
  width: var(--_headerWidth, auto);

  position: sticky;
  z-index: 9999;
  top: -5rem;

  @supports (animation-timeline: view()) {
    animation: stickyNav linear forwards;
    backdrop-filter: blur(0.15rem);
    animation-timeline: view();
    animation-range-start: calc(100vh + var(--_animationStartAfter));
    animation-range-end: calc(100vh + var(--_animationDistance) + var(--_animationStartAfter));
  }
}

.headerContainer.dark {
  background-color: #000000;
}

@keyframes stickyNav {
  0%,
  100% {
    --_headerWidth: fit-content;
    --_logoDisplay: none;
    --_settingsMargin: 0;
  }
  100% {
    top: 1rem;
    color: var(--_textColorEnd);
    border-radius: 100vw;
    background-color: rgb(15, 15, 15, 0.2);
    box-shadow: 0 0 0.75rem hsl(0 0% 0% / 0.3);
  }
}

.headerContainer > img {
  width: 30px;
}

.headerContainer > svg {
  display: var(--_logoDisplay, flex);
  font-size: var(--icon-size-md);
  margin-left: auto;
  cursor: pointer;
}

.leftContainer {
  display: none;
}

@media screen and (min-width: 540px) {
  .headerContainer {
    padding-inline: 3rem;
  }

  .leftContainer {
    display: var(--_logoDisplay, flex);
    align-items: center;
    gap: 1rem;
  }
}

.leftContainer > p {
  font-size: 2.5rem;
  margin-right: 2rem;
  text-wrap: nowrap;
}

.leftContainer > a > svg {
  font-size: 1.5rem;
  fill: var(--text-color);
}

.headerContainer > svg {
  font-size: 1.5rem;
  transition: transform ease-in-out 250ms;
  transition: all forwards 1s;
}

.navigation {
  margin-right: var(--_settingsMargin);
}

.links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  font-size: var(--text-size-sm);
}

.link {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  border: none;
  background: none;
  font-size: inherit;
  cursor: pointer;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 0;
    text-underline-offset: 0.17lh;
  }
}

.link.active {
  color: var(--link-color);
}

.settingsContainer {
  position: relative;
  display: var(--_logoDisplay, flex);
  gap: 0.5rem;
  margin-left: auto;
  margin-right: 1.2rem;
  align-items: center;
}

@media screen and (min-width: 540px) {
  .settingsContainer {
    margin-right: 0;
  }
}

.languageSettings {
  display: flex;
  flex-direction: row;
}

.settingsContainer > svg {
  font-size: 1.3rem;
  cursor: pointer;
}

@media screen and (min-width: 540px) {
  .settingsContainer > svg {
    font-size: 1.8rem;
  }
}

.lightBulp {
  position: absolute;
  top: 3px;
  right: 5px;
  width: 10px;
  height: 10px;
  z-index: -1;
}

.lightBulp.lightBulpOn {
  background-color: rgba(255, 255, 0, 0.6);
  border-radius: 50%;
  box-shadow: 0 -4px 10px -1px rgba(255, 255, 0, 1);
}

@media screen and (min-width: 540px) {
  .lightBulp {
    top: 5px;
    right: 7px;
    width: 14px;
    height: 14px;
  }
}

.flagIcon {
  position: absolute;
  width: 10px;
  top: 5px;
  right: 5px;
}

@media screen and (min-width: 540px) {
  .flagIcon {
    width: 20px;
    top: 10px;
    width: 20px;
  }
}
