.__navLayout {
  --_animationStartAfter: 250px;
  --_animationDistance: 200px;
  margin: 0 auto;
  display: flex;
  padding: 0.5rem 0.7rem;
  align-items: center;
  background-color: #ffffff;
  color: inherit;
  font-weight: 500;
  width: var(--_headerWidth, auto);
  position: sticky;
  z-index: 999;
  top: -5rem;
  gap: 0.5rem;

  @supports (animation-timeline: view()) {
    animation: stickyNav linear forwards;
    backdrop-filter: blur(0.15rem);
    animation-timeline: view();
    animation-range-start: calc(100vh + var(--_animationStartAfter));
    animation-range-end: calc(100vh + var(--_animationDistance) + var(--_animationStartAfter));
  }
}

.__navLayout.dark {
  background-color: rgba(71, 235, 235, 0.1);
}

@keyframes stickyNav {
  0%,
  100% {
    --_headerWidth: fit-content;
    --_logoDisplay: none;
    --_settingsMargin: 0;
  }
  100% {
    top: 1rem;
    color: var(--_textColorEnd);
    border-radius: 100vw;
    background-color: rgb(15, 15, 15, 0.2);
    box-shadow: 0 0 0.75rem hsl(0 0% 0% / 0.3);
  }
}

.__navLayout > img {
  width: 30px;
}

.__navLayout > svg {
  display: var(--_logoDisplay, flex);
  font-size: var(--icon-size-md);
  margin-left: auto;
  cursor: pointer;
}

.__leftLayout {
  display: none;
}

@media screen and (min-width: 540px) {
  .__navLayout {
    padding-inline: 3rem;
  }

  .__leftLayout {
    display: var(--_logoDisplay, flex);
    align-items: center;
    gap: 1rem;
  }
}

.__leftLayout > p {
  font-size: 2.5rem;
  margin-right: 2rem;
  text-wrap: nowrap;
}

.__leftLayout > a > svg {
  font-size: 1.5rem;
  fill: var(--text-color);
}

.__navLayout > svg {
  font-size: 1.5rem;
  transition: transform ease-in-out 250ms;
  transition: all forwards 1s;
}

.navigation {
  margin-right: var(--_settingsMargin);
}

.__linksLayout {
  display: flex;
  gap: 0.7rem;
  list-style: none;
  font-size: var(--text-size-xs);
}

@media screen and (min-width: 600px) {
  .__linksLayout {
    gap: 1.5rem;
    font-size: var(--text-size-sm);
  }

  .navigation {
    --_settingsMargin: 2rem;
  }
}

.link {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  border: none;
  background: none;
  font-size: inherit;
  cursor: pointer;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 0;
    text-underline-offset: 0.17lh;
  }
}

.link.active {
  color: var(--link-color);
}

.__settingsLayout {
  display: var(--_logoDisplay, flex);
  gap: 0.5rem;
  margin-left: auto;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .__settingsLayout {
    gap: 1rem;
  }
}

.__settingsIcon {
  width: 100%;
  position: relative;
  border-style: none;
  border: none;
  background: none;
  font-size: 0.8rem;
}

@media screen and (min-width: 600px) {
  .__settingsIcon {
    font-size: 1rem;
  }
}

.__settingsIcon > svg {
  font-size: 1.5em;
  cursor: pointer;
  display: inline-block;
  color: var(--text-color);
}

.__settingsIcon::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  border-radius: 1rem;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 120%;
  height: 5px;
  background-color: var(--brand-color-primary);
  transition: transform 0.3s ease;
}

.__settingsIcon:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.__dropdown {
  z-index: 10;
  position: absolute;
  top: 110%;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: inherit;
  border-top: 1px solid hsl(from var(--text-color) h s l / 0.1);
  box-shadow: 0px 5px 10px 0px rgba(158, 153, 139, 0.4);
  transition: transform 0.1s;
  transform: scale(0);
}

.__dropdown.open {
  transform: scale(1);
}

.__dropdown > button {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-style: none;
  border: none;
  background: none;
  font-size: inherit;
  color: var(--text-color);
  cursor: pointer;
}

.__dropdown > button:hover {
  background-color: hsl(from var(--text-color) h s l / 0.2);
}

.userName {
  padding: 0.5rem 1rem;
  color: var(--brand-color-secondary-light);
  border-bottom: 1px solid var(--clr-grey);
}
